.elementor-1150 .elementor-element.elementor-element-6d73f91 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 32px;
  --padding-right: 32px;
}

.elementor-1150 .elementor-element.elementor-element-11841b0 {
  --display: flex;
  --min-height: 323px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 64px 64px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --border-radius: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 64px;
  --padding-right: 64px;
}

.elementor-1150
  .elementor-element.elementor-element-11841b0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--c-bf890a9);
  background-image: url(/images/faq_banner.webp);
  background-size: cover;
  background-position: center;
}

.elementor-1150 .elementor-element.elementor-element-11841b0::before,
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .elementor-background-video-container::before,
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .elementor-background-slideshow::before,
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1150
  .elementor-element.elementor-element-11841b0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
}

.elementor-1150 .elementor-element.elementor-element-11841b0,
.elementor-1150 .elementor-element.elementor-element-11841b0::before {
  --border-transition: 0.3s;
}

.elementor-1150 .elementor-element.elementor-element-f75b151 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-f75b151.e-con {
  --align-self: center;
}

.elementor-1150 .elementor-element.elementor-element-d7e0666 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-4fbb7ad {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  text-align: center;
}

.elementor-1150 .elementor-element.elementor-element-4fbb7ad.elementor-element {
  --align-self: center;
}

.elementor-1150
  .elementor-element.elementor-element-4fbb7ad
  .elementor-heading-title {
  color: var(--c-white);
  font-family: var(--f-c0c00e9-font-family), Sans-serif;
  font-size: var(--f-c0c00e9-font-size);
  font-weight: var(--f-c0c00e9-font-weight);
  text-transform: var(--f-c0c00e9-text-transform);
  line-height: var(--f-c0c00e9-line-height);
  letter-spacing: var(--f-c0c00e9-letter-spacing);
}

.elementor-1150 .elementor-element.elementor-element-42761db {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 8px 8px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150
  .elementor-element.elementor-element-ecc911c
  > .elementor-widget-container {
  margin: 0px 0px -13px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-ecc911c {
  color: var(--c-white);
}

.elementor-1150
  .elementor-element.elementor-element-d64140f
  > .elementor-widget-container {
  margin: 0px 0px -13px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-d64140f.elementor-element {
  --order: 99999 /* order end hack */;
}

.elementor-1150 .elementor-element.elementor-element-d64140f {
  color: var(--c-white);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7
  .elementor-icon-wrapper {
  text-align: center;
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-stacked
  .elementor-icon {
  background-color: var(--c-b70a650);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-framed
  .elementor-icon,
.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-default
  .elementor-icon {
  color: var(--c-b70a650);
  border-color: var(--c-b70a650);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-framed
  .elementor-icon,
.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--c-white);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--c-bf890a9);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-framed
  .elementor-icon:hover,
.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-default
  .elementor-icon:hover {
  color: var(--c-bf890a9);
  border-color: var(--c-bf890a9);
}

.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-framed
  .elementor-icon:hover,
.elementor-1150
  .elementor-element.elementor-element-82455f7.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--c-bf890a9);
}

.elementor-1150 .elementor-element.elementor-element-82455f7 .elementor-icon {
  font-size: 27px;
}

.elementor-1150
  .elementor-element.elementor-element-82455f7
  .elementor-icon
  svg {
  height: 27px;
}

.elementor-1150 .elementor-element.elementor-element-a7fab00 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 64px 64px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150
  .elementor-element.elementor-element-a7fab00:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1150
  .elementor-element.elementor-element-a7fab00
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--c-4e87b42);
}

.elementor-1150 .elementor-element.elementor-element-a7fab00,
.elementor-1150 .elementor-element.elementor-element-a7fab00::before {
  --border-transition: 0.3s;
}

.elementor-1150 .elementor-element.elementor-element-bdde5a7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-bdde5a7.e-con {
  --order: 99999 /* order end hack */;
}

.elementor-1150 .elementor-element.elementor-element-19417c0.elementor-element {
  --order: -99999 /* order start hack */;
}

.elementor-1150
  .elementor-element.elementor-element-19417c0
  .elementor-heading-title {
  color: var(--c-green);
  font-family: var(--f-secondary-font-family), Sans-serif;
  font-size: var(--f-secondary-font-size);
  font-weight: var(--f-secondary-font-weight);
  text-transform: var(--f-secondary-text-transform);
  letter-spacing: var(--f-secondary-letter-spacing);
}

.elementor-1150 .elementor-element.elementor-element-0282954 {
  width: var(--container-widget-width, 84%);
  max-width: 84%;
  --container-widget-width: 84%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-0282954
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-77d3e6d {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-77d3e6d
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-77d3e6d.elementor-element {
  --order: -99999 /* order start hack */;
}

.elementor-1150 .elementor-element.elementor-element-9d95bf9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion.accoedion-primary
  .elementskit-card
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"],
.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"],
.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion.floating-style
  .elementskit-card
  .elementskit-btn-link[aria-expanded="true"] {
  background-color: var(--c-green);
  color: var(--c-white);
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-header
  > .elementskit-btn-link {
  font-family: "Inter", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--c-gray);
  border-radius: 10px;
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"] {
  color: var(--c-5bd60dc);
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion.curve-shape
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"] {
  color: var(--c-5bd60dc);
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-body
  p {
  color: var(--c-text);
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-body {
  color: var(--c-text);
  border-radius: 0px 0px 0px 0px;
  padding: 16px 32px 16px 32px;
}

.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-body
  p,
.elementor-1150
  .elementor-element.elementor-element-6993b1a
  .elementskit-accordion
  .elementskit-card-body {
  font-family: var(--f-text-font-family), Sans-serif;
  font-size: var(--f-text-font-size);
  font-weight: var(--f-text-font-weight);
  line-height: var(--f-text-line-height);
}

.elementor-1150 .elementor-element.elementor-element-fa789a5 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 64px 64px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150
  .elementor-element.elementor-element-fa789a5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1150
  .elementor-element.elementor-element-fa789a5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--c-4e87b42);
}

.elementor-1150 .elementor-element.elementor-element-fa789a5,
.elementor-1150 .elementor-element.elementor-element-fa789a5::before {
  --border-transition: 0.3s;
}

.elementor-1150 .elementor-element.elementor-element-bcd14c3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-bcd14c3.e-con {
  --order: 99999 /* order end hack */;
}

.elementor-1150 .elementor-element.elementor-element-499b761.elementor-element {
  --order: -99999 /* order start hack */;
}

.elementor-1150
  .elementor-element.elementor-element-499b761
  .elementor-heading-title {
  color: var(--c-green);
  font-family: var(--f-secondary-font-family), Sans-serif;
  font-size: var(--f-secondary-font-size);
  font-weight: var(--f-secondary-font-weight);
  text-transform: var(--f-secondary-text-transform);
  letter-spacing: var(--f-secondary-letter-spacing);
}

.elementor-1150 .elementor-element.elementor-element-cbdfdc7 {
  width: var(--container-widget-width, 84%);
  max-width: 84%;
  --container-widget-width: 84%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-cbdfdc7
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-72add3e {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-72add3e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-1150 .elementor-element.elementor-element-72add3e.elementor-element {
  --order: -99999 /* order start hack */;
}

.elementor-1150 .elementor-element.elementor-element-9eed35c {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-9eed35c.e-con {
  --order: 99999 /* order end hack */;
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion.accoedion-primary
  .elementskit-card
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"],
.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"],
.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion.floating-style
  .elementskit-card
  .elementskit-btn-link[aria-expanded="true"] {
  background-color: var(--c-green);
  color: var(--c-white);
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-header
  > .elementskit-btn-link {
  font-family: "Inter", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5em;
  border-radius: 10px;
  border: 1px solid var(--c-gray);
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"] {
  color: var(--c-5bd60dc);
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion.curve-shape
  .elementskit-card-header
  > .elementskit-btn-link[aria-expanded="true"] {
  color: var(--c-5bd60dc);
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-body
  p {
  color: var(--c-text);
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-body {
  color: var(--c-text);
  border-radius: 0px 0px 0px 0px;
  padding: 16px 32px 16px 32px;
}

.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-body
  p,
.elementor-1150
  .elementor-element.elementor-element-f98fa8d
  .elementskit-accordion
  .elementskit-card-body {
  font-family: var(--f-text-font-family), Sans-serif;
  font-size: var(--f-text-font-size);
  font-weight: var(--f-text-font-weight);
  line-height: var(--f-text-line-height);
}

.elementor-1150 .elementor-element.elementor-element-74458fd {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-fc92213 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 64px 54px;
  --background-transition: 0.3s;
  --border-radius: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 32px;
  --padding-bottom: 32px;
  --padding-left: 32px;
  --padding-right: 32px;
}

.elementor-1150
  .elementor-element.elementor-element-fc92213:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1150
  .elementor-element.elementor-element-fc92213
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--c-primary);
}

.elementor-1150 .elementor-element.elementor-element-fc92213,
.elementor-1150 .elementor-element.elementor-element-fc92213::before {
  --border-transition: 0.3s;
}

.elementor-1150 .elementor-element.elementor-element-b0be267 {
  --display: flex;
  --min-height: 418px;
  --background-transition: 0.3s;
  --border-radius: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-1150 .elementor-element.elementor-element-b0be267,
.elementor-1150 .elementor-element.elementor-element-b0be267::before {
  --border-transition: 0.3s;
}

.elementor-1150 .elementor-element.elementor-element-591f4b8 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 32px;
  --padding-bottom: 32px;
  --padding-left: 32px;
  --padding-right: 32px;
}

.elementor-1150 .elementor-element.elementor-element-591f4b8.e-con {
  --order: 99999 /* order end hack */;
}

.elementor-1150 .elementor-element.elementor-element-bd01259 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-bd01259
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1150
  .elementor-element.elementor-element-bd01259
  .elementor-heading-title {
  color: var(--c-5bd60dc);
  font-family: var(--f-secondary-font-family), Sans-serif;
  font-size: var(--f-secondary-font-size);
  font-weight: var(--f-secondary-font-weight);
  text-transform: var(--f-secondary-text-transform);
  letter-spacing: var(--f-secondary-letter-spacing);
}

.elementor-1150 .elementor-element.elementor-element-575a016 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}

.elementor-1150
  .elementor-element.elementor-element-575a016
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-1150
  .elementor-element.elementor-element-575a016
  .elementor-heading-title {
  color: var(--c-5bd60dc);
}

.elementor-1150 .elementor-element.elementor-element-4db84b4 {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 20px;
}

.elementor-1150
  .elementor-element.elementor-element-4db84b4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1150
  .elementor-element.elementor-element-4db84b4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--c-5bd60dc);
}

.elementor-1150 .elementor-element.elementor-element-4db84b4,
.elementor-1150 .elementor-element.elementor-element-4db84b4::before {
  --border-transition: 0.3s;
}

@media (min-width: 768px) {
  .elementor-1150 .elementor-element.elementor-element-11841b0 {
    --content-width: 1280px;
  }
  .elementor-1150 .elementor-element.elementor-element-bdde5a7 {
    --width: 50%;
  }
  .elementor-1150 .elementor-element.elementor-element-9d95bf9 {
    --width: 75%;
  }
  .elementor-1150 .elementor-element.elementor-element-bcd14c3 {
    --width: 50%;
  }
  .elementor-1150 .elementor-element.elementor-element-9eed35c {
    --width: 75%;
  }
  .elementor-1150 .elementor-element.elementor-element-b0be267 {
    --width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1150 .elementor-element.elementor-element-bdde5a7 {
    --width: 100%;
  }
  .elementor-1150 .elementor-element.elementor-element-9d95bf9 {
    --width: 100%;
  }
  .elementor-1150 .elementor-element.elementor-element-bcd14c3 {
    --width: 100%;
  }
  .elementor-1150 .elementor-element.elementor-element-9eed35c {
    --width: 100%;
  }
  .elementor-1150 .elementor-element.elementor-element-b0be267 {
    --width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-1150
    .elementor-element.elementor-element-4fbb7ad
    .elementor-heading-title {
    font-size: var(--f-c0c00e9-font-size);
    line-height: var(--f-c0c00e9-line-height);
    letter-spacing: var(--f-c0c00e9-letter-spacing);
  }
  .elementor-1150 .elementor-element.elementor-element-a7fab00 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 32px 32px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 32px;
    --padding-right: 32px;
  }
  .elementor-1150 .elementor-element.elementor-element-bdde5a7.e-con {
    --order: -99999 /* order start hack */;
  }
  .elementor-1150 .elementor-element.elementor-element-19417c0 {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-19417c0
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-1150 .elementor-element.elementor-element-0282954 {
    --container-widget-width: 373px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 373px);
    max-width: 373px;
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-0282954.elementor-element {
    --align-self: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-77d3e6d.elementor-element {
    --align-self: center;
  }
  .elementor-1150 .elementor-element.elementor-element-77d3e6d {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-6993b1a
    .elementskit-accordion
    .elementskit-card-body
    p,
  .elementor-1150
    .elementor-element.elementor-element-6993b1a
    .elementskit-accordion
    .elementskit-card-body {
    font-size: var(--f-text-font-size);
    line-height: var(--f-text-line-height);
  }
  .elementor-1150 .elementor-element.elementor-element-fa789a5 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 32px 32px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 32px;
    --padding-right: 32px;
  }
  .elementor-1150 .elementor-element.elementor-element-bcd14c3.e-con {
    --order: -99999 /* order start hack */;
  }
  .elementor-1150 .elementor-element.elementor-element-499b761 {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-499b761
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-1150 .elementor-element.elementor-element-cbdfdc7 {
    --container-widget-width: 373px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 373px);
    max-width: 373px;
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-cbdfdc7.elementor-element {
    --align-self: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-72add3e.elementor-element {
    --align-self: center;
  }
  .elementor-1150 .elementor-element.elementor-element-72add3e {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-f98fa8d
    .elementskit-accordion
    .elementskit-card-body
    p,
  .elementor-1150
    .elementor-element.elementor-element-f98fa8d
    .elementskit-accordion
    .elementskit-card-body {
    font-size: var(--f-text-font-size);
    line-height: var(--f-text-line-height);
  }
  .elementor-1150 .elementor-element.elementor-element-74458fd {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 32px;
    --padding-right: 32px;
  }
  .elementor-1150 .elementor-element.elementor-element-fc92213 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 32px 32px;
  }
  .elementor-1150 .elementor-element.elementor-element-b0be267 {
    --min-height: 315px;
  }
  .elementor-1150
    .elementor-element.elementor-element-b0be267:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1150
    .elementor-element.elementor-element-b0be267
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px -105px;
  }
  .elementor-1150 .elementor-element.elementor-element-bd01259 {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-bd01259
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-1150
    .elementor-element.elementor-element-575a016
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1150 .elementor-element.elementor-element-575a016 {
    --container-widget-width: 461px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 461px);
    max-width: 461px;
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-575a016.elementor-element {
    --align-self: center;
  }
}

@media (max-width: 767px) {
  .elementor-1150 .elementor-element.elementor-element-6d73f91 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1150 .elementor-element.elementor-element-11841b0 {
    --min-height: 37px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 32px;
    --padding-right: 32px;
  }
  .elementor-1150
    .elementor-element.elementor-element-4fbb7ad
    .elementor-heading-title {
    font-size: var(--f-c0c00e9-font-size);
    line-height: var(--f-c0c00e9-line-height);
    letter-spacing: var(--f-c0c00e9-letter-spacing);
  }
  .elementor-1150
    .elementor-element.elementor-element-82455f7.elementor-element {
    --align-self: center;
  }
  .elementor-1150 .elementor-element.elementor-element-82455f7 .elementor-icon {
    font-size: 16px;
  }
  .elementor-1150
    .elementor-element.elementor-element-82455f7
    .elementor-icon
    svg {
    height: 16px;
  }
  .elementor-1150 .elementor-element.elementor-element-a7fab00 {
    --gap: 24px 24px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1150
    .elementor-element.elementor-element-19417c0
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-1150 .elementor-element.elementor-element-77d3e6d {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-6993b1a
    .elementskit-accordion
    .elementskit-card-header
    > .elementskit-btn-link {
    font-size: 16px;
  }
  .elementor-1150
    .elementor-element.elementor-element-6993b1a
    .elementskit-accordion
    .elementskit-card-body
    p,
  .elementor-1150
    .elementor-element.elementor-element-6993b1a
    .elementskit-accordion
    .elementskit-card-body {
    font-size: 15px;
    line-height: var(--f-text-line-height);
  }
  .elementor-1150 .elementor-element.elementor-element-fa789a5 {
    --gap: 24px 24px;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1150
    .elementor-element.elementor-element-499b761
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-1150 .elementor-element.elementor-element-72add3e {
    text-align: center;
  }
  .elementor-1150
    .elementor-element.elementor-element-f98fa8d
    .elementskit-accordion
    .elementskit-card-header
    > .elementskit-btn-link {
    font-size: 16px;
  }
  .elementor-1150
    .elementor-element.elementor-element-f98fa8d
    .elementskit-accordion
    .elementskit-card-body
    p,
  .elementor-1150
    .elementor-element.elementor-element-f98fa8d
    .elementskit-accordion
    .elementskit-card-body {
    font-size: var(--f-text-font-size);
    line-height: var(--f-text-line-height);
  }
  .elementor-1150 .elementor-element.elementor-element-74458fd {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1150 .elementor-element.elementor-element-fc92213 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 16px;
    --padding-right: 16px;
  }
  .elementor-1150
    .elementor-element.elementor-element-b0be267:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1150
    .elementor-element.elementor-element-b0be267
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-1150 .elementor-element.elementor-element-591f4b8 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1150
    .elementor-element.elementor-element-bd01259
    .elementor-heading-title {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
}
