.elementor-kit-28 {
  --c-primary: #242b2e;
  --c-secondary: #525358;
  --c-text: #7f7f7f;
  --c-accent: #e7e7e7;
  --c-green: #205f7a;
  --c-bf890a9: #286883;
  --c-lightgreen: #55899e;
  --c-goodgreen: #559e88;
  --c-gray: #ccc;
  --c-f184fe1: #3d3d3d;
  --c-ce1effd: #e22d2d;
  --c-2d81040: #e2d52d;
  --c-mate: #232323;
  --c-white: #ffffff;
  --f-primary-font-family: "Jost";
  --f-primary-font-weight: 600;
  --f-secondary-font-family: "Jost";
  --f-secondary-font-size: 16px;
  --f-secondary-font-weight: 700;
  --f-secondary-text-transform: uppercase;
  --f-secondary-letter-spacing: 1px;
  --f-text-font-family: "Lato";
  --f-text-font-size: 16px;
  --f-text-font-weight: 400;
  --f-text-line-height: 1.5em;
  --f-accent-font-family: "Lato";
  --f-accent-font-size: 14px;
  --f-accent-font-weight: 500;
  --f-5d11618-font-family: "Jost";
  --f-5d11618-font-size: 80px;
  --f-5d11618-font-weight: 500;
  --f-5d11618-text-transform: none;
  --f-5d11618-line-height: 1.1em;
  --f-5d11618-letter-spacing: -1.3px;
  --f-c0c00e9-font-family: "Jost";
  --f-c0c00e9-font-size: 56px;
  --f-c0c00e9-font-weight: 500;
  --f-c0c00e9-text-transform: none;
  --f-c0c00e9-line-height: 1.2em;
  --f-c0c00e9-letter-spacing: -1.3px;
  --f-973c7a1-font-family: "Jost";
  --f-973c7a1-font-size: 40px;
  --f-973c7a1-font-weight: 500;
  --f-973c7a1-text-transform: none;
  --f-973c7a1-line-height: 1.2em;
  --f-973c7a1-letter-spacing: -1.1px;
  --f-2a9a9cf-font-family: "Jost";
  --f-2a9a9cf-font-size: 32px;
  --f-2a9a9cf-font-weight: 500;
  --f-2a9a9cf-text-transform: none;
  --f-2a9a9cf-line-height: 1.2em;
  --f-8e643e6-font-family: "Jost";
  --f-8e643e6-font-size: 24px;
  --f-8e643e6-font-weight: 500;
  --f-8e643e6-text-transform: none;
  --f-8e643e6-line-height: 1.2em;
  --f-8e643e6-letter-spacing: -0.8px;
  --f-ed1c829-font-family: "Jost";
  --f-ed1c829-font-size: 16px;
  --f-ed1c829-font-weight: 500;
  --f-ed1c829-text-transform: none;
  --f-ed1c829-line-height: 1.2em;
  --f-ed1c829-letter-spacing: -0.6px;
  --f-63ff56c-font-family: "Lato";
  --f-63ff56c-font-size: 12px;
  --f-63ff56c-font-weight: 600;
  --f-63ff56c-text-transform: uppercase;
  --f-63ff56c-letter-spacing: 0.8px;
  --f-dbc0204-font-family: "Lato";
  --f-dbc0204-font-size: 14px;
  --f-dbc0204-font-weight: 700;
  --f-dbc0204-text-transform: capitalize;
  --f-0c74ed6-font-family: "Lato";
  --f-0c74ed6-font-size: 13px;
  --f-0c74ed6-font-weight: 500;
  --f-0c74ed6-text-transform: none;
  --f-0c74ed6-line-height: 1.6em;
  --f-f12db44-font-family: "Lato";
  --f-f12db44-font-size: 20px;
  --f-f12db44-font-weight: 500;
  --f-f12db44-text-transform: none;
  --f-f12db44-line-height: 1.5em;
  font-family: var(--f-text-font-family), Sans-serif;
  font-size: var(--f-text-font-size);
  font-weight: var(--f-text-font-weight);
  line-height: var(--f-text-line-height);
  background-position: center center;
  background-repeat: repeat-y;
  background-size: 1220px auto;
}

body {
  user-select: none;
}

.elementor-kit-28 button,
.elementor-kit-28 input[type="button"],
.elementor-kit-28 input[type="submit"],
.elementor-kit-28 .elementor-button {
  font-family: var(--f-dbc0204-font-family), Sans-serif;
  font-size: var(--f-dbc0204-font-size);
  font-weight: var(--f-dbc0204-font-weight);
  text-transform: uppercase;
  color: var(--c-white);
  background-color: var(--c-primary);
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
}

.elementor-kit-28 h1 {
  font-family: var(--f-5d11618-font-family), Sans-serif;
  font-size: var(--f-5d11618-font-size);
  font-weight: var(--f-5d11618-font-weight);
  text-transform: var(--f-5d11618-text-transform);
  line-height: var(--f-5d11618-line-height);
  letter-spacing: var(--f-5d11618-letter-spacing);
}

.elementor-kit-28 h2 {
  font-family: var(--f-c0c00e9-font-family), Sans-serif;
  font-size: var(--f-c0c00e9-font-size);
  font-weight: var(--f-c0c00e9-font-weight);
  text-transform: var(--f-c0c00e9-text-transform);
  line-height: var(--f-c0c00e9-line-height);
  letter-spacing: var(--f-c0c00e9-letter-spacing);
}

.elementor-kit-28 h3 {
  font-family: var(--f-973c7a1-font-family), Sans-serif;
  font-size: var(--f-973c7a1-font-size);
  font-weight: var(--f-973c7a1-font-weight);
  text-transform: var(--f-973c7a1-text-transform);
  line-height: var(--f-973c7a1-line-height);
  letter-spacing: var(--f-973c7a1-letter-spacing);
}

.elementor-kit-28 h4 {
  font-family: var(--f-2a9a9cf-font-family), Sans-serif;
  font-size: var(--f-2a9a9cf-font-size);
  font-weight: var(--f-2a9a9cf-font-weight);
  text-transform: var(--f-2a9a9cf-text-transform);
  line-height: var(--f-2a9a9cf-line-height);
  margin-bottom: 3px;
}

.elementor-kit-28 h5 {
  font-family: var(--f-8e643e6-font-family), Sans-serif;
  font-size: var(--f-8e643e6-font-size);
  font-weight: var(--f-8e643e6-font-weight);
  text-transform: var(--f-8e643e6-text-transform);
  line-height: var(--f-8e643e6-line-height);
  letter-spacing: var(--f-8e643e6-letter-spacing);
}

.elementor-kit-28 h6 {
  font-family: var(--f-ed1c829-font-family), Sans-serif;
  font-size: var(--f-ed1c829-font-size);
  font-weight: var(--f-ed1c829-font-weight);
  text-transform: var(--f-ed1c829-text-transform);
  line-height: var(--f-ed1c829-line-height);
  letter-spacing: var(--f-ed1c829-letter-spacing);
}

.elementor-kit-28 label {
  font-family: var(--f-secondary-font-family), Sans-serif;
  font-size: var(--f-secondary-font-size);
  font-weight: var(--f-secondary-font-weight);
  text-transform: var(--f-secondary-text-transform);
  letter-spacing: var(--f-secondary-letter-spacing);
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1280px;
}

.e-con {
  --container-max-width: 1280px;
  --container-default-padding-top: 30px;
  --container-default-padding-right: 30px;
  --container-default-padding-bottom: 30px;
  --container-default-padding-left: 30px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 24px;
}

.elementor-element {
  --widgets-spacing: 24px 24px;
}

h1.entry-title {
  display: var(--page-title-display);
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

@media (max-width: 1024px) {
  .elementor-kit-28 {
    --f-5d11618-font-size: 60px;
    --f-5d11618-line-height: 1.1em;
    --f-c0c00e9-font-size: 40px;
    --f-c0c00e9-line-height: 1.2em;
    --f-973c7a1-font-size: 28px;
    --f-973c7a1-line-height: 1.2em;
    --f-2a9a9cf-font-size: 24px;
    --f-2a9a9cf-line-height: 1.2em;
    --f-8e643e6-font-size: 22px;
    --f-8e643e6-line-height: 1.1em;
    --f-ed1c829-font-size: 16px;
    font-size: var(--f-text-font-size);
    line-height: var(--f-text-line-height);
    background-size: calc(100vw - 60px) auto;
  }
  .elementor-kit-28 h1 {
    font-size: var(--f-5d11618-font-size);
    line-height: var(--f-5d11618-line-height);
    letter-spacing: var(--f-5d11618-letter-spacing);
  }
  .elementor-kit-28 h2 {
    font-size: var(--f-c0c00e9-font-size);
    line-height: var(--f-c0c00e9-line-height);
    letter-spacing: var(--f-c0c00e9-letter-spacing);
  }
  .elementor-kit-28 h3 {
    font-size: var(--f-973c7a1-font-size);
    line-height: var(--f-973c7a1-line-height);
    letter-spacing: var(--f-973c7a1-letter-spacing);
  }
  .elementor-kit-28 h4 {
    font-size: var(--f-2a9a9cf-font-size);
    line-height: var(--f-2a9a9cf-line-height);
  }
  .elementor-kit-28 h5 {
    font-size: var(--f-8e643e6-font-size);
    line-height: var(--f-8e643e6-line-height);
    letter-spacing: var(--f-8e643e6-letter-spacing);
  }
  .elementor-kit-28 h6 {
    font-size: var(--f-ed1c829-font-size);
    line-height: var(--f-ed1c829-line-height);
    letter-spacing: var(--f-ed1c829-letter-spacing);
  }
  .elementor-kit-28 button,
  .elementor-kit-28 input[type="button"],
  .elementor-kit-28 input[type="submit"],
  .elementor-kit-28 .elementor-button {
    font-size: var(--f-dbc0204-font-size);
  }
  .elementor-kit-28 label {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-kit-28 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-28 textarea,
  .elementor-kit-28 .elementor-field-textual {
    font-size: var(--f-accent-font-size);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .elementor-kit-28 {
    --f-5d11618-font-size: 40px;
    --f-c0c00e9-font-size: 32px;
    --f-973c7a1-font-size: 24px;
    --f-2a9a9cf-font-size: 22px;
    --f-8e643e6-font-size: 18px;
    --f-f12db44-font-size: 18px;
    font-size: var(--f-text-font-size);
    line-height: var(--f-text-line-height);
    background-size: calc(100vw - 40px) auto;
  }
  .elementor-kit-28 h1 {
    font-size: var(--f-5d11618-font-size);
    line-height: var(--f-5d11618-line-height);
    letter-spacing: var(--f-5d11618-letter-spacing);
  }
  .elementor-kit-28 h2 {
    font-size: var(--f-c0c00e9-font-size);
    line-height: var(--f-c0c00e9-line-height);
    letter-spacing: var(--f-c0c00e9-letter-spacing);
  }
  .elementor-kit-28 h3 {
    font-size: var(--f-973c7a1-font-size);
    line-height: var(--f-973c7a1-line-height);
    letter-spacing: var(--f-973c7a1-letter-spacing);
  }
  .elementor-kit-28 h4 {
    font-size: var(--f-2a9a9cf-font-size);
    line-height: var(--f-2a9a9cf-line-height);
  }
  .elementor-kit-28 h5 {
    font-size: var(--f-8e643e6-font-size);
    line-height: var(--f-8e643e6-line-height);
    letter-spacing: var(--f-8e643e6-letter-spacing);
  }
  .elementor-kit-28 h6 {
    font-size: var(--f-ed1c829-font-size);
    line-height: var(--f-ed1c829-line-height);
    letter-spacing: var(--f-ed1c829-letter-spacing);
  }
  .elementor-kit-28 button,
  .elementor-kit-28 input[type="button"],
  .elementor-kit-28 input[type="submit"],
  .elementor-kit-28 .elementor-button {
    font-size: var(--f-dbc0204-font-size);
  }
  .elementor-kit-28 label {
    font-size: var(--f-secondary-font-size);
    letter-spacing: var(--f-secondary-letter-spacing);
  }
  .elementor-kit-28 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-28 textarea,
  .elementor-kit-28 .elementor-field-textual {
    font-size: var(--f-accent-font-size);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}

.p_top {
  padding-top: 10px !important;
}

.m_top {
  padding-top: 10px !important;
}

.b_right {
  border-right: 1px solid var(--c-white);
}

.m_bottom {
  margin-bottom: 5px;
}

.p_none {
  padding-top: 10px !important;
}

.pt_20 {
  padding-top: 30px !important;
}

@media (max-width: 767px) {
  .b_right {
    border: none;
  }
}

#customForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: end;
}

@media (max-width: 768px) {
  #customForm {
    grid-template-columns: 1fr;
  }
}

.mf-input-wrapper {
  display: flex;
  flex-direction: column;
}

.mf-input-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.mf-select {
  width: 100%;
  height: 50px;
  padding: 13px 12px;
  font-family: var(--f-accent-font-family), Sans-serif;
  font-size: var(--f-accent-font-size);
  font-weight: var(--f-accent-font-weight);
  border: 1px solid var(--c-gray);
  background-color: #fafafa;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.mf-select option {
  width: 100%;
  padding: 13px 12px;
  background-color: var(--c-white);
}

.mf-input::placeholder {
  color: #999 !important;
}

button[type="submit"],
a {
  align-self: end;
  height: auto;
  margin-top: auto;
  background-color: var(--c-bf890a9);
  color: var(--c-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

select option[hidden] {
  display: none;
}

.wrap_search {
  display: flex;
  flex-direction: column;
}

small {
  text-transform: uppercase;
  font-weight: 500;
}

.h_size {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
}

.bg-clock {
  padding: 15px;
  background-color: var(--c-green);
  color: var(--c-white);
}

.black {
  background-color: var(--c-mate) !important;
}

.gray {
  background-color: var(--c-primary) !important;
}

.white {
  background-color: var(--c-white) !important;
}

.rote_uppercase {
  text-transform: uppercase;
}

.font_bold {
  font-weight: 700px !important;
}

/* Contenedor del ícono de la flecha */
.select-icon {
  color: var(--c-f184fe1);
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%); /* Centra la flecha verticalmente */
  pointer-events: none;
}

.select_div {
  position: relative;
}

.mb_rb {
  margin-bottom: 8px;
}

.btn_gap {
  display: flex;
  gap: 10px;
}

/* Notificación personalizada con efecto blur */
#custom-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px 20px;
  z-index: 40000000000;
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.4s ease, filter 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  pointer-events: none;
}

#custom-notification.show {
  opacity: 1;
  filter: blur(0);
  pointer-events: auto;
}

#custom-notification p {
  margin: 0;
  font-size: 14px;
  color: var(--c-f184fe1);
  font-weight: 600;
}

@media (max-width: 768px) {
  .bg-clock {
    padding: 10px !important;
    padding-right: 0 !important;
  }
}


